* {
	padding: 0;
	margin: 0;
}
html {
	font-size: 10px;
}
body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	background-color: @whtColor;
}

/*------------COLORS-----------------*/
@navy: #23354f;
@bgcGrey: #f7f7f7;
@hColor: #444444;
@fontColor: #aeaeae;
@captionColor: #9a9a9a;
@whtColor: #ffffff;
@orangeColor: #db7818;
@borderColor: #bfbfbf;



/*-----------SIZE FONTS--------------*/
@h1Font: 3rem;
@h2Font: 3.6rem;
@h3Font: 1.8rem;
@h4Font: 1.4rem;
@textFont: 1.3rem;
@captionFont: 1.2rem;
@btnFont: 1.8rem;

.caption-p () {
	font-size: @textFont;
	color: @captionColor;
}
.btn-main () {
	border-radius: 0 !important; 
	border-color: @borderColor;
	background-color: @whtColor;
	font-size: @btnFont;
	font-weight: bold;
	color: @hColor;

	&:hover {
		border-color: @whtColor;
		background-color: @navy; 
		color: @whtColor;
	}
}

.distance {
	padding: 6rem 0 0 0;
}
/*---------------HEADER---------------------*/
.head-banner {
	background-image: url('dist/css/img/header-banner.png');
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	width: 100%;
	height: 62.9rem;
}

/*---------------ABOUT US------------------*/
.about-us {
	background-color: @bgcGrey;
	height: 22.8rem;
	
	p {
		.caption-p;
	}
}
h2 {
	font-size: @h2Font;
	color: @hColor;
	padding: 6rem 0 3rem 0;
}
/*---------------HISTORY--------------------*/
.history {
	p {
		font-size: @textFont;
		color: @fontColor;
	}
	.btn {
		.btn-main;
		margin-top: 3rem;
	}
}

/*---------------FOOTER--------------------*/
footer {
	height: 6rem;
	line-height: 6rem;
	background-color: @navy;

	p {
		font-size: @textFont;
		color: @whtColor;
	}
}
/*---------------END of FOOTER-----------*/


